@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/img/galaxy-night-landscape.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.full-pg {
    background: rgba(0, 0, 0, 0.5);
}

.logo {
    font-size: 24px;
}

.meeting {
    font-size: 18px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 20px;
}

.navbar {
    background: rgba(228, 223, 223, 0.94);
    height: 50px;
}

main {
    margin: 0 15px; 
}

h1 {
    margin: 25px 0;
    font-weight: 400;
    color: white;
    
}

h2 {
    color: white;
    font-weight: 200;
    margin: 10px 0;
}

p {
    color: rgb(129, 219, 233); 
    font-size: 18px;
}

input {
    margin-top: 10px;
    opacity: 80%;
    height: 30px;
    width: 150px;
    font-size: 16px;
    text-align: center;
    border: none;
}

button {
    width: 95px;
    height: 30px;
    margin-bottom: 50px;
    background: rgb(129, 219, 233); 
    color: rgb(0, 0, 0);
    border: none;
    font-size: 16px;

}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 25px;
    height: 400px;
    width: 400px;
}

h3 {
    margin-top: 50px;
    margin-bottom: -275px;
}

#overview {
    padding: 15px;
    color: black;
    text-align: justify;
    line-height: 1.5;
    font-weight: 300;
    background: rgba( 255, 255, 255, 0.9 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 25px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

footer h4 {
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    margin-top: 350px;
    padding-bottom: 25px;
    position: sticky;

}

a {
    color: rgb(129, 219, 233); 
}

/* Responsiveness */

@media (max-width: 625px){
    .navbar .container {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        text-align: center;
    }

    .navbar {
        height: 125px;
        
    }

    .logo {
        font-size: 28px;
        margin-top: 30px;
    }

    main {
        text-align: center;
    }
}


@media (max-width: 359px){
    .navbar .container {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding: 10px;
    }

    .navbar {
        height: 125px;
        text-align: center;
    }

    .logo {
        font-size: 22.5px;
        margin-top: 10px;
    }

    .meeting {
        font-size: 18px;
    }

    main {
        text-align: center;
    }

    img {
        height: 275px;
        width: 275px;
    }

    button {
        margin-top: 10px;
    }

}

@media (min-width: 1280px){
    .full-pg {
        background: rgba(0, 0, 0, 0.5);
        height: 100vh;
    }

}

